<div id="<%= dom_id(discussion) %>" class="mb-2">
  <h2><%= link_to discussion.name, discussion %></h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>
  <br>
  Posted in: <%= discussion.category&.name || "No category" %> | Posts: <%= discussion.posts_count %>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %> |
    <%= link_to "Delete", discussion, method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?" } %>
  </div>
</div>